<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myPieChart"></canvas>
    <script>
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var chartData = {{ chart_data|tojson }};
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: chartData.labels,
                datasets: [{
                    data: chartData.data,
                    backgroundColor: chartData.colors,
                    hoverBackgroundColor: chartData.hoverColors
                }]
            }
        });
    </script>
</body>
</html>

