body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

h2 {
    color: #666;
    text-align: left;
    margin-left: 15px;
    font-size: 1.2em;
}

h3 {
    color: #444;
    font-size: 1.2em;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px auto;
    max-width: 400px;
}

form label {
    display: block;
    margin: 8px 0 4px;
    font-size: 0.9em;
}

form input[type="text"], 
form input[type="file"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 8px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.inputfile {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    margin: 8px 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.page-container {
    display: flex;
    justify-content: center;
}

.process-container {
    background-color: #64b1bc;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.info-container {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.instructions-container {
    text-align: left;
}

.instructions-container ul {
    list-style-type: none;
    padding: 0;
}

.instructions-container ul li {
    margin-top: 10px;
}

.instructions-container ol {
    padding-left: 20px;
}
